@font-face {
    font-family: 'Hanken Grotesk';
    src: url(../assets/fonts/HankenGrotesk-VariableFont_wght.ttf);
}

:root{
    --color_Light-red: hsl(0, 100%, 67%);
    --color_Orangey-yellow: hsl(39, 100%, 56%);
    --color_Green-teal: hsl(166, 100%, 37%);
    --color_Cobalt-blue: hsl(234, 85%, 45%);

    /*gradients*/

    --color_Light_slate_blue: hsl(252, 100%, 67%); /*background*/
    --color_Light_royal_blue: hsl(241, 81%, 54%); /*background*/

    --color_Violetblue: hsla(256, 72%, 46%, 1);  /*Circle*/
    --color_Persianblue: hsla(241, 72%, 46%, 0); /*Circle*/

    --color_White: hsl(0, 0%, 100%);
    --color_Pale_blue: hsl(221, 100%, 96%);
    --color_Light_lavender: hsl(241, 100%, 89%);
    --color_DarkGray_blue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Hanken Grotesk', sans-serif;
    height: 100vh;
    width: 100%;
}

main{
    height: 100vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main ul{
    list-style: none;
}

.conteiner{
    max-width: 700px;
    display: flex;
    text-align: center;
    font-size: 1rem;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}

#left{
    width: 100%;
    height: 100%;
    padding: 30px 50px;
    color: var(--color_White);
    background: linear-gradient(
        var(--color_Light_slate_blue),
        var(--color_Light_royal_blue)
    );
    border-radius: 30px;
}   

#left h1{
    font-size: 1.5rem;
    color: rgb(214, 214, 214);
    padding-bottom: 20px;
}

#left .circle{
    width: 170px;
    height: 170px;
    border-radius: 50%;

    background: linear-gradient(
        var(--color_Violetblue),
        var(--color_Persianblue)
    );
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(214, 214, 214);
    font-size: 1rem;
    padding-bottom: 10px;
    margin: auto;
}

#left .circle span{
    font-size: 3.6rem;
    color: #fff;
    font-weight: 800;
}

.text_1{
    font-weight: 600;
    padding-bottom: 20px;
    font-size: 1.1rem;
}

.text_2{
    font-size: .9rem;
    color: rgb(214, 214, 214);
}

/*scores*/

#right{
    width: 100%;
    height: 100%;
    padding: 10px 30px;
    border-radius: 30px;
    text-align: start;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}  

.summary{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.836);
    padding-bottom: 20px;
    padding-top: 20px;
}

ul{
    display: flex; 
}

.textsocre{
    color: black;
    font-weight: 700;
}

.textsocre span{
    color: rgb(104, 104, 104);
}



.box{
    display: flex   ;
    width: 250px;
    justify-content: space-between;
    margin-bottom: 15px;

}

.box0{
    color: var(--color_Light-red);
    background-color: rgba(255, 0, 0, 0.055);
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.box1{
    color: var(--color_Orangey-yellow);
    background-color: rgba(226, 194, 12, 0.13);
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.box2{
    color: var(--color_Green-teal);
    background-color: rgba(1, 241, 129, 0.055);
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
}

.box3{
    color: var(--color_Cobalt-blue);
    background-color: rgba(75, 55, 253, 0.116);
    padding: 10px;
    border-radius: 8px;
    font-weight: 600;
}

button{
    background: linear-gradient(
        var(--color_Light_slate_blue),
        var(--color_Light_royal_blue)
    );
    text-align: center;
    border: none;
    width: 100%;
    padding: 15px;
    border-radius: 20px;
    color: var(--color_White);
    font-weight: 700;
    font-size: 1.05rem;
    
}
button:hover {
    /* Alteração da cor do background no hover */
    cursor: pointer;
    transform: scale(1.01);
    background: var(--color_DarkGray_blue);
    color: var(--color_White);
}

/*Mobile*/

@media (max-width:526px){
    .conteiner{
        flex-direction: column;
        border-bottom-left-radius: 30px;
    }

    button{
        margin-top: 8px;
        margin-bottom: 30px;        
    }
}

.attribution{
    margin-top: 70px;
}

.attribution a{
    text-decoration: none;
    color: #100036fd;
}

.attribution a:hover{
    color: #271355fd;
    text-shadow:-1px 0 7px #505050;
}