* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik';
}

:root {
    --Blue: hsl(246, 80%, 60%);
    --Light-orange: hsl(15, 100%, 70%);
    /*(work)*/
    --Soft-blue: hsl(195, 74%, 62%);
    /*( play)*/
    --Light-red: hsl(348, 100%, 68%);
    /*( study)*/
    --Lime-green: hsl(145, 58%, 55%);
    /*( exercise)*/
    --Violet: hsl(264, 64%, 52%);
    /*( social):)*/
    --Soft-orange: hsl(43, 84%, 65%);
    /*( self care)*/

    /*Neutral*/
    --Very-dark-blue: hsl(226, 43%, 10%);
    --Dark-blue: hsl(235, 46%, 20%);
    --Desaturated-blue: hsl(235, 45%, 61%);
    --Pale-Blue: hsl(236, 100%, 87%);
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    color: #fff;

}

.main {
    width: 100%;
    height: 100vh;
   
    background-color: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
}

.boxes{
    padding: 10px;
    display: grid;
    /* grid-template-columns: repeat(4, minmax(100px, 240px)); */
    /* grid-template-rows: repeat(2, minmax(100px, 260px)); */
    gap: 15px;
    grid-template-columns: repeat(4, .8fr);
    grid-template-rows: repeat(2, 250px);
}
.iten{
    background-color: var(--Dark-blue);
    font-size: 1rem;
    border-radius: 20px;
    z-index: 0;
}

.iten:nth-child(1){
    grid-row: 1/ span 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--Dark-blue);
    z-index: 5;

}

.profile{
    background-color: var(--Blue);
    height: 65%;
    border-radius: 15px;
    padding: 30px;
}

.profile img {
    width: 100%;
    max-width: 5rem;
    border: 3px solid #fff;
    border-radius: 50px;
}

.profile p{
    font-size: .8rem;
    padding-top: 40px;
    font-family: 'Rubik';
}

.profile h1{
    font-size: 2em;
    padding-top: 10px;
    font-family: 'Rubik';
    font-weight: 200;
    letter-spacing: .03rem;
}
.months{
    height: 35%;
    width: 100%;
    background-color: var(--Dark-blue);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}

a {
    cursor: pointer;
    color: rgb(95, 94, 94);
    transition: color 0.3s ease; /* Adiciona uma transição suave apenas para a cor */
}

a:hover {
    color: rgb(95, 94, 94);
}

a.selected {
    color: #fff;
}


.months ul {
    list-style: none;
    padding: 30px;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    height: 100%;
}

.iten-2,
.iten-3,
.iten-4,
.iten-5,
.iten-7,
.iten-8{
    display: flex;
    flex-direction: column;
    
}

.work{
    background-color: var(--Light-orange);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.work-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(2){
    background-color: var(--Light-orange);
    z-index: 4;
}


.play{
    background-color: var(--Soft-blue);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.play-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(3){
    background-color: var(--Soft-blue);
}

.study{
    background-color: var(--Light-red);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.study-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(4){
    background-color: var(--Light-red);
}


.exercise{
    background-color: var(--Lime-green);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.exercise-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(5){
    background-color: var(--Lime-green);
}

.social{
    background-color: var(--Violet);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.social-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(6){
    background-color: var(--Violet);
}

.self_care{
    background-color: var(--Soft-orange);
    height: 20%;
    text-align: right;
    padding-right: 20px;
    border-radius: 20px;
}

.self_care-content{
    background-color: var(--Dark-blue);
    height: 80%;
    border-top-right-radius: 20px ;
    border-top-left-radius: 20px;
    border-radius: 20px;
}

.iten:nth-child(7){
    background-color: var(--Soft-orange);
}

.work-content,
.play-content,
.study-content,
.exercise-content,
.social-content,
.self_care-content{
    display: flex;
    flex-direction: column;
    padding: 20px ;
    justify-content: space-between;
}

.listas{
    list-style: none;
    display: flex;
    justify-content: space-between;
}

li img{
    cursor: pointer;
    padding: 5px;
}

.text h1{
    font-size: 3em;
    font-weight: 100;
    padding-bottom:.3em ;
}

.text p{
    font-size: .9rem;
    font-weight: 100;
    padding-bottom:.5em;
    color: var(--Pale-Blue);
}