@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);
    
    /* Neutral Colors */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --white: #fff;
}



body{
    width: 100%;
    height: 100vh;

    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Rubik', sans-serif;
}

main{
    max-width: 1000px;
    height: 450px;


    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.contaiter-avatar{
    background-color: var(--blue);
    padding: 20px;
    border-radius: 10px;
}

.avatar-sec:nth-child(1){
    grid-row: 1/3;
}

.avatar-sec{
    background-color: var(--dark-blue);
    border-radius: 10px;
}


.avatar-sec .avatar{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
    
}

.avatar-sec .avatar img{
    width: 100%;
    object-fit: cover;
}

.info-avatar{
    margin: 30px 0px;
}

.info-avatar p{
    font-size: 13px;
    color: var(--pale-blue);
    font-weight: 400;
}

.info-avatar h1{
    font-size: 2rem;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 10px;
}

.avatar-dias{
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
}

.avatar-dias a{
    text-decoration: none;
    color: var(--white);
}

.avatar-dias a:hover{
    color: var(--pale-blue);
}

a.ativo{
    color: var(--pale-blue);
}

main .box{
    border: 1px solid lightsalmon;
    color: #fff;
    border-radius: 10px;
    padding: 20px;
}