@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary Colors */
    --blue: hsl(246, 80%, 60%);
    --light-red-work: hsl(15, 100%, 70%);
    --soft-blue-play: hsl(195, 74%, 62%);
    --light-red-study: hsl(348, 100%, 68%);
    --lime-green-exercise: hsl(145, 58%, 55%);
    --violet-social: hsl(264, 64%, 52%);
    --soft-orange-self-care: hsl(43, 84%, 65%);
    
    /* Neutral Colors */
    --very-dark-blue: hsl(226, 43%, 10%);
    --dark-blue: hsl(235, 46%, 20%);
    --desaturated-blue: hsl(235, 45%, 61%);
    --pale-blue: hsl(236, 100%, 87%);
    --white: #fff;
}



body{
    width: 100%;
    min-height: 100vh;

    background-color: var(--very-dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Rubik', sans-serif;
}

main{
    max-width: 1000px;
    min-height: 450px;
    padding-inline: 20px;

    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;

}

.contaiter-avatar{
    background-color: var(--blue);
    padding: 30px;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
}

.avatar-sec:first-of-type {
    grid-row: 1/3;
}

.avatar-sec{
    background-color: var(--dark-blue);
    border-radius: 10px;
}


.avatar-sec .avatar{
    max-width: 80px;
    max-height: 80px;
    border-radius: 50%;
    padding: 2px;
    background-color: #fff;
}

.avatar-sec .avatar img{
    width: 100%;
    object-fit: cover;
}

.info-avatar{
    margin: 30px 0px;
}

.info-avatar p{
    font-size: 13px;
    color: var(--pale-blue);
    font-weight: 400;
}

.info-avatar h1{
    font-size: 2rem;
    color: var(--white);
    font-weight: 300;
    padding-bottom: 10px;
}

.avatar-dias{
    display: flex;
    flex-direction: column;
    padding: 30px 30px;
    gap: 20px;
}

.avatar-dias a{
    text-decoration: none;
    color: var(--white);
}

.avatar-dias a:hover{
    color: var(--pale-blue);
}

a.ativo{
    color: var(--pale-blue);
}

/**/

main .box{
    color: #fff;
    border-radius: 16px;
    
}

.work {
    background: var(--light-red-work) url(../Dashboard/images/icon-work.svg) no-repeat top right;
}

.play{
    background: var(--soft-blue-play) url(../Dashboard/images/icon-play.svg) no-repeat top right;
}

.study{
    background: var(--light-red-study) url(../Dashboard/images/icon-study.svg) no-repeat top right;
}

.exercise{
    background: var(--lime-green-exercise) url(../Dashboard/images/icon-exercise.svg) no-repeat top right;
}

.social{
    background: var(--violet-social) url(../Dashboard/images/icon-social.svg) no-repeat top right;
}

.self-care{
    background: var(--soft-orange-self-care) url(../Dashboard/images/icon-self-care.svg) no-repeat top right;
}



.item{
    background-color: var(--dark-blue);
    margin-top: 40px;

    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    height: calc(100% - 40px);
    border-radius: 16px;
    padding: 20px;
}

.item .header{
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    font-weight: 500;
}

.box i{
    font-size: 30px;
    cursor: pointer;
}

.item h1{
    font-size: 2.7rem;
    font-weight: 300;
}

.item span{
    font-size: .8rem;
    color: var(--pale-blue);
}

@media screen and (max-width: 765px){

    .contaiter-avatar{
        padding: 15px;
    }

    div.avatar-dias{
        padding: 15px;
        margin-top: 20px;
    }

    .info-avatar h1{
        font-size: 1.5rem;
    }

    .item .header{
        font-weight: 400;
    }
}

@media screen and (max-width: 655px){
    main{
        grid-template-columns: repeat(2, 1fr);
        padding-inline: 5px;
        padding-block: 10px;
    }

    .info-avatar h1{
        font-size: 1.5rem;
    }

    div.avatar-dias{
        font-size: .8rem;
    }
    
}

@media screen and (max-width: 425px) {
    main {
        grid-template-columns: 1fr;
        grid-auto-flow: row; /* Garante que as seções fluam verticalmente */
        gap: 15px; /* Adiciona um espaço adequado entre as seções */
    }

    .avatar-sec {
        grid-row: auto; /* Remove qualquer configuração específica de grid-row */
    }

    div.avatar-dias{
        flex-direction: row;
        justify-content: space-between;
        padding: 20px;
        width: 100%;
    }

    .contaiter-avatar{
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        gap: 10px;
    }

    .avatar-sec .avatar{
        max-width: 60px;
        max-height: 60px;
    }

    .info-avatar h1{
        font-size: 1.1rem;
    }

    .item h1{
        font-size: 1.5rem;
    }

    .item-tempo{
        display: flex;
        align-items: center;
        gap: 40px;
    }
    
}

