* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; */
}

:root {
    /* Primaries Colors */
    --red: hsl(0, 100%, 74%);
    --Green: rgb(56, 204, 140);
    --white: #fff;
    /* Accents Colors */
    --Blue: hsl(248, 32%, 49%);
    /* Neutral Colors */
    --Dark-Blue: hsl(249, 10%, 26%);
    --Grayish-Blue: hsl(246, 25%, 77%);
}

html {
    height: 100%;
}

body {
    width: 100%;
    min-height: 100%;
    background: url(../images/bg-intro-desktop.png);
    background-color: var(--red);
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Poppins';
}

main {
    display: flex;
    max-width: 1440px;
    padding-inline: 30px;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
}

.left {
    color: var(--white);
    max-width: 400px;
}

.left p {
    font-size: .9rem;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.button_try {
    background-color: var(--Blue);
    color: #fff;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    background-color: var(--white);
    padding: 30px;
    border-radius: 10px;
    max-width: 600px;
    min-width: 450px;
    gap: 10px;


}

.form input {
    min-width: 100%;
    padding: 20px;
    border: 1px solid var(--Grayish-Blue);
    border-radius: 5px;
    outline-color: rgba(63, 63, 63, 0.722);
}

.form input::placeholder {
    font-family: 'Poppins';
    font-weight: 500;
}

#btn-submit {
    padding: 15px;
    border-radius: 10px;
    text-align: center;
    border: none;
    cursor: pointer;
    background-color: var(--Green);
    color: var(--white);
    text-transform: uppercase;
    font-weight: 800;
}

.right h3 {
    font-size: .6rem;
    text-align: center;
    color: var(--Grayish-Blue);
    font-weight: 400;
}

.right a {
    text-decoration: none;
    color: var(--red);
}

.dados_input {
    position: relative;
    width: 100%;
}

.img_erro {
    max-width: 25px;
    position: absolute;
    right: 20px;
    top: 15px;

    display: none;
}