* {
    padding: 0;
    margin: 0;
}

:root {
    --soft_orange: hsl(35, 77%, 62%);
    --soft_red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --grayish-blue: hsl(233, 8%, 79%);
    --dark_grayish-blue: hsl(236, 13%, 42%);
    --very_dark-blue: hsl(240, 100%, 5%);
    --black: #000;
}

body{
    width: 100%;
    height: 100vh;
    font-family: 'Inter', sans-serif;
    color: var(--black);
}

header{
    background-color: lightblue;
}

header .cabeca{ 
    padding-inline: 1rem; /*esquerda e direira*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    max-width: 1280px;
    margin-inline:auto ;
}

header .cabeca nav ul{
    display: flex;
    list-style-type: none;
    padding-block: 1rem;
    gap: 32px;
}

header .cabeca nav ul li a{
    text-decoration: none;
    color: var(--black);
} 

.menuMoba{
    cursor: pointer;
    padding-block: 5px;
    display: none;
}

nav{
    display: block;
}

@media screen and (max-width: 750px){
    .menuMoba{
        display: block;
    }

    ul{
        position: absolute;
        top: 0;
        left: 0;
    
        flex-direction: column;
        background-color: gray;
        height: 100vh;
        width: 200px;
        text-align: center;
        /* margin: -200px; */
    }

    nav{
        display: none;
    }
}


