* {
    margin: 0;
    padding: 0;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-gray: hsl(0, 0%, 20%);
    --color-dark_gray: hsl(0, 0%, 12%);
    --color-off_black: hsl(0, 0%, 8%);
    --color-off_black: hsl(0, 0%, 8%);
    --color-Green: hsl(75, 94%, 57%);
}

body {
    background-color: var(--color-off_black);
    width: 100%;
    height: 100vh;
    color: var(--color-white);
    font-family: "Plus Jakarta Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

main {
    min-width: 300px;
    max-width: 400px;
    background-color: var(--color-dark_gray);
    display: flex;
    flex-direction: column;
    border-radius: 2.5%;
    text-align: center;
    padding: 40px;
    margin-bottom: 20px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    margin-left: 10px;
    margin-right: 10px;
}

.avatar {
    width: 100%;
}

img {
    min-width: 15%;
    max-width: 30%;
    border-radius: 50%;
}

img:hover {
    box-shadow: #fff 0px 0px 12px;
    transition: .1s;
}

h1 {
    font-size: 1.4rem;
    margin-top: 25px;
}

p {
    margin: 5px 0;
    font-size: 1rem;
}

span {
    color: var(--color-Green);
    font-weight: 600;
    font-size: 1rem;
}

.socialMidias {
    margin-top: 20px;
}

main .socialMidias ol {
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

main .socialMidias ol li {
    background-color: var(--color-gray);
    border-radius: 5px;
    padding: 10px 20px;
}

main .socialMidias ol li:hover {
    background-color: var(--color-white);
    color: var(--color-off_black);
    font-weight: 600;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

a {
    color: var(--color-white);
    text-decoration: none;
}
























.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}