/* =======================
   Root - Variáveis Globais
========================== */

:root {
  /* === Colors === */
  --clr-primary-orange: hsl(35, 77%, 62%);
  --clr-primary-red: hsl(5, 85%, 63%);

  --clr-neutral-off-white: hsl(36, 100%, 99%);
  --clr-neutral-grayish-blue: hsl(233, 8%, 79%);
  --clr-neutral-dark-grayish-blue: hsl(236, 13%, 42%);
  --clr-neutral-very-dark-blue: hsl(240, 100%, 5%);

  /* === Typography === */
  --font-family-base: "Inter", sans-serif;
  --font-size-paragraph: 15px;

  --font-weight-regular: 400;
  --font-weight-bold: 700;
  --font-weight-extra-bold: 800;
}

/* =======================
   Base Reset & Defaults
========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--font-family-base);
  font-size: var(--font-size-paragraph);
  color: var(--clr-neutral-very-dark-blue);
  background-color: var(--clr-neutral-off-white);
  line-height: 1.6;
  position: relative;
}

header {
  display: flex;
  max-width: 1000px;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 30px 0px;
  padding-inline: 10px;
}

header h1 {
  font-size: 2.5rem;
}

header nav ul {
  display: flex;
  gap: 20px;
  list-style-type: none;
  color: var(--clr-neutral-dark-grayish-blue);
}

header a {
  text-decoration: none;
  color: inherit;
}

header a:hover {
  color: var(--clr-neutral-very-dark-blue);
}

header #menu_icon {
  display: none;
  width: 30px;
  cursor: pointer;
}

header #close_menu_icon {
  display: flex;
  width: 30px;
  position: fixed;
  top: 20px;
  right: -100%;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

header #menu_icon img,
header #close_menu_icon img {
  width: 100%;
}

/* MOBILE STYLES */
#menu-mobile {
  display: flex;
  position: fixed;
  top: 0;
  right: -100%;
  border-left: 1px solid black;
  width: 300px;
  background-color: #fff;
  height: 100%;
  transition: all 0.3s ease-in-out;
}
#menu-mobile ul {
  display: flex;
  justify-content: start;
  flex-direction: column;
  margin-top: 100px;
  margin-left: 20px;
}
/* FINAL MOBILE STYLES */

@media screen and (max-width: 747px) {
  header #menu-desktop {
    display: none;
  }
  header #menu_icon {
    display: flex;
  }
}

/* Garantindo que o menu mobile e o botão de fechar não estejam visiveis em displays grandes. */
@media screen and (min-width: 747px) {
  #menu-mobile {
    display: none;
  }

  header #close_menu_icon {
    display: none;
  }
}

/* FINAL HEADER */

/* COMEÇO MAIN */

main {
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  gap: 30px;
  padding-inline: 10px;
}

.main-article {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: auto auto;
  grid-gap: 30px;
}

.article-img {
  width: 100%;
  grid-column: 1 / span 2;
}

.article-img img {
  width: 100%;
  height: 100%;
}

.main-article-text {
  grid-column: 1 / span 2;
  grid-row: 2;
  display: flex;
}

.main-article h1 {
  font-size: 3rem;
  line-height: 1;
}

.article-text-button p {
  color: var(--clr-neutral-dark-grayish-blue);
}

.article-text-button button {
  background-color: var(--clr-primary-red);
  border: none;
  padding: 15px 30px;
  letter-spacing: 6px;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--clr-neutral-very-dark-blue);
  cursor: pointer;
  margin-top: 30px;
}

/* Garantindo que o menu mobile e o botão de fechar não estejam visiveis em displays grandes. */
@media screen and (max-width: 747px) {
  main {
    grid-gap: 15px;
  }
}
/* FINAL MAIN */

/* COMEÇO ASIDE */

aside {
  background-color: var(--clr-neutral-very-dark-blue);
  width: 800px;
  color: #fff;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  align-items: start;
}

aside h1 {
  color: var(--clr-primary-orange);
  font-size: 2rem;
}

aside h2 {
  font-size: 1rem;
}

aside p {
  color: var(--clr-neutral-dark-grayish-blue);
}

.aside-box {
  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 1px solid var(--clr-neutral-dark-grayish-blue);
}

.aside-box:last-child {
  border-bottom: none;
}

@media screen and (max-width: 747px) {
  aside {
    padding: 15px;
  }

  .aside-box {
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

/* FINAL ASIDE */

/* COMEÇO CARDS */
.cards-conteiner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1000px;
  margin: 0 auto;
  margin-top: 50px;
  gap: 20px;
}

.cards-conteiner img {
  max-width: 90px;
  height: 110px;
  margin-right: 10px;
}

.cards {
  display: flex;
  justify-content: center;
}

.cards h1 {
  font-size: 2rem;
  color: var(--clr-primary-red);
}

.cards h2 {
  font-size: 1rem;
}

.cards p {
  color: var(--clr-neutral-dark-grayish-blue);
}

@media screen and (max-width: 747px) {
  .cards h1 {
    font-size: 1.5rem;
  }

  .cards h2 {
    font-size: 0.9rem;
  }

  .cards p {
    font-size: 0.7rem;
  }

  .cards {
    align-items: flex-start;
  }
}

/* FINAL CARDS */

/* ATTRIBUTION */
.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 30px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
